<div class="container mt-5">
  <div class="my-card border p-4 clearfix">
    <img src="{{ users.image }}" alt="Avatar" class="rounded float-left pr-3" width="200">
    <h3 class="my-name text-uppercase">{{ users.name }}</h3>
    <div class="experience text-mute">
      <h6>{{ users.email }}</h6>
      <a href="/users/{{users.id}}/edit" class="btn btn-link">
        Edit
      </a>
      <ul class="list-unstyled small">
      </ul>
    </div>
  </div>
</div>